<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}">&larr; Posts plus r&eacute;cent</a>
    {{/if}}
    <span class="page-number">Page {{page}} sur {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">Posts plus anciens &rarr;</a>
    {{/if}}
</nav>